{% extends "base.html" %} 
{% load static %}
{% block title %} Blog Details {% endblock %}
 {% block content %}

<div class="container mt-3">
  <div class="row">
    <div class="col-3">
        {% include "partials/_categories.html" %}
    </div>
    <div class="col-9">
      {% comment %} <h1>Blog Details :{{id}}</h1> {% endcomment %}
      <div class="card mb-3">
        <div class="row">
          <div class="col-md-3">
            <img src="{% static 'img/'|add:blog.image %}" alt="" class="img-fluid">
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">
                <a href="{% url "blog_details" blog.id %}">
                  {{blog.title}}
                </a>
              </h5>
              <p class="card-text">
                {{blog.description}}
                {% comment %} {%lorem 30 w %} {% endcomment %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
