{% extends "base.html" %} 
{% load static %}
{% block title %} Blog Details {% endblock %}
 {% block content %}

<div class="container mt-3">
  <div class="row">
    {% comment %} <div class="col-3">
        {% include "partials/_categories.html" %}
    </div> {% endcomment %}
    <div class="col-12">
      {% comment %} <h1>Blog Details :{{id}}</h1> {% endcomment %}
      <div class="card mb-3">
        <div class="row">
          {% comment %} <div class="col-md-3"> {% endcomment %}
            {% comment %} <img src="{% static 'img/'|add:blog.image %}" alt="" class="img-fluid"> {% endcomment %}
          {% comment %} </div> {% endcomment %}
          <div class="col-md-12">
            <div class="card-body">
              <h1 class="card-title h3 mb-3">
                <a href="{% url 'blog_details' blog.slug %}">
                  {{blog.title|title}}
                </a>
              </h1>
              <img src="{{blog.image.url}}" alt="" class="img-fluid" style="float:left;margin: 0 20px 20px 0">

              <p class="card-text">
                {{blog.description|safe}}
                {% comment %} {%lorem 30 w %} {% endcomment %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
